<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfitnessapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <permission android:name="android.permission.INTERNET" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.Videos"
            android:label="@string/title_activity_videos" >
        </activity>
        <activity
            android:name="activities.Configuracion"
            android:label="@string/title_activity_configuracion" >
        </activity>
        <activity
            android:name="activities.Historial"
            android:label="@string/title_activity_historial" >
        </activity>
        <activity
            android:name="activities.Cronometro"
            android:label="@string/title_activity_cronometro" >
        </activity>
        <activity
            android:name=".Medicion"
            android:label="@string/title_activity_medicion" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
        <activity
            android:name="activities.Playlist"
            android:label="@string/title_activity_playlist" >
        </activity>
        <activity
            android:name="activities.Resultado"
            android:label="@string/title_activity_resultado" >
        </activity>
        <activity
            android:name="activities.ResumenActivity"
            android:label="@string/title_activity_resumen" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="activities.ListaVideosActivity"
            android:label="@string/title_activity_lista_videos" >
        </activity>
        <activity
            android:name=".Player"
            android:label="@string/title_activity_player" >
        </activity>
    </application>

</manifest>
